html::-webkit-scrollbar{
    display: none;
}
.container{    
    display: flex;
    border: 2px solid #1A4263;
    padding: 1%;
    min-height: 70vh;
    margin: 20vh 2%;
    border-radius: 10px;

}

.notesbarList{
    display: flex;
    flex-direction: column;
    width:33%;
    border: 2px solid #1A4263;
    border-radius: 10px;
    margin-right: 1%;
    padding:1%;
    overflow-y:scroll ;
    overflow-x: hidden;
}
.notesbarList::-webkit-scrollbar{
    width: 7px;
    height: 5px;
}
.notesbarList::-webkit-scrollbar-thumb {
    background-color:#1A4263;
    border-radius: 10px;
}

.note-preview{
    border: 2px solid #1A4263;
    width:97%;
    border-radius: inherit;
    height:max-content;
    /* overflow: hidden; */
    padding:1% 1% 1% 2%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.note-preview div:nth-child(1){
    width:75%;
    height:70px;
    overflow: hidden;
}
.note-preview h1{
    font-size: 16px;

}
.note-preview p{
    font-size:15px;
    color:lightgray;
}
.note-card{
    display: flex;
    flex-direction: column;
    border: 2px solid #1A4263;
    border-radius: 10px;
    padding:1%;
    height:60vh;
}
form{
    width:100%;
    height:100%;
}
.noteTitle{
    background-color: transparent;
    height:80px;
    font-size: 20px;
    padding: 1%;
    border: none;

}
.noteText{
    background-color: transparent;
    height:100%;
    border: none;
    font-size: 20px;
    padding: 1%;
}
.noteText:active .noteTitle:active{
    border:none
}
.actions{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    margin-top: 1%;
}
.actions button{
    padding:1%;
    width:130px;
    height:40px;
    cursor: pointer;
    text-align: center;
}
.delete{
    background-color:#c52a2a; ;
    color:#fff;
    font-size: 10px;
    text-align: center;
    padding:5px 20px;
}
.view{
    background-color:grey; ;
    color:#fff;
    font-size: 10px;
    text-align: center;
    padding:5px 20px;
}
.del{
    background-color:#c52a2a; ;
    color:#fff;
    text-align: center;
    padding:5px 20px;

}
.delete:hover{
    background-color: rgb(209, 0, 0);
}
.add{
    color:#000;
    background-color: #c9c9c9
}
.add:hover{
    color:#fff;
    background-color: black;
}