html::-webkit-scrollbar{
    display: none;
}
.container{    
    display: flex;
    border: 2px solid #1A4263;
    padding: 1%;
    min-height: 70vh;
    margin: 20vh 2%;
    border-radius: 10px;

}

.notesbar{
    display: flex;
    flex-direction: column;
    width:32%;
    border: 2px solid #1A4263;
    border-radius: 10px;
    margin-right: 1%;
    padding:1%;
    overflow-y:scroll;
    height: 65vh;
}
.notesbar::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }
  .notesbar::-webkit-scrollbar-thumb {
    background-color:#1A4263;
    border-radius: 10px;
  }

  .top-menu h1{
    text-decoration: underline;
  }
  .notesbar h3{
    margin-top: 30px;
  }
.note-preview{
    border: 2px solid #1A4263;
    width:97%;
    border-radius: inherit;
    height:max-content;
    padding:1% 4% 1% 2%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.note-preview div:nth-child(1){
    width:75%;
    height:75px;
    overflow: hidden;
}
.note-preview h1{
    font-size: 16px;

}
.note-preview p{
    font-size:15px;
    color:lightgray;
}
.note-create{
    display: flex;
    flex-direction: column;
    /* border: 2px solid #1A4263; */
    border-radius: 10px;
padding:1%;
}
form{
    width:100%;
    height:100%;
}
.title{
    background-color: transparent;
    border: 2px solid #1A4263;
    height:80px;
    border-radius: inherit;
    font-size: 20px;
    padding: 1%;
}
.note{
    background-color: transparent;
    border: 2px solid #1A4263;
    height:35vh;
    border-radius: inherit;
    
    font-size: 20px;
    padding: 1%;
}
.actions{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    margin-top: 1%;
}
.actions button{
    padding:1%;
    width:130px;
    height:40px;
    cursor: pointer;
    text-align: center;
}
.delete{
    background-color:#c52a2a; ;
    color:#fff;
    font-size: 10px;
    text-align: center;
    padding:5px 20px;
}
.delete:hover{
    background-color: rgb(209, 0, 0);
}
.add{
    color:#000;
    background-color: #c9c9c9
}
.add:hover{
    color:#fff;
    background-color: black;
}
.arrow{
    font-size: 30px;
    transition: 0.5s ease-in-out;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.reload-button{
    background-color: transparent;
    color:#000;
    padding: 0;
}
.reload-button:hover{
    background-color: transparent;
}